
body, html {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    height: 10vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: contrast(1.1);  /* correct the not quite white background of spinny.mp4 */
}

.panel {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
}

.left-panel, .right-panel {
    display: inline-block;
    position: absolute;
    margin: var(--margin-size);
    margin-top: 5vw;
    padding: 0px;
    height: 90vh;
}

.media {
    width: 100%; max-height: 100%;
}

img.media {
    position: absolute;
}

.panel-title {
    /* font-weight: 200; */
    margin-top: 0px;
}

:root {                     
    /* left and right margins of 1/14 (7 %) of screen width == 7 vw         *
    * between margins are 6 columns 1/7 (14 %) of screen width == 14 vw    *
    *          1/14 | 1/7 | 1/7 | 1/7 | 1/7 | 1/7 | 1/7 | 1/4              */
    --column-size: calc(100vw / 7);
    --margin-size: calc(var(--column-size) / 2)
}
